
<!-- JQUERY VALIDATE -->
<script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>

<div class="animated fadeInDown" id="extr-page">

	<header id="header">

		<div id="logo-group">
			<span id="logo"> <img src="img/fines.png" alt="bookmyLED">
			</span>
		</div>

		<span id="extr-page-header-space"> 
		<span id="extr-page-header-space"> <span
			class="hidden-mobile hiddex-xs">Already registered?</span> <a href=""
			class="btn btn-danger">Sign In</a>
		</span>


	</header>

	<div id="main" role="main">

		<!-- MAIN CONTENT -->
		<div id="content" class="container">
			<div class="row">
				<span> <%=CommonUtils.getDataTransfer("SignUpmessage")%></span>
			</div>
			<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
						<h1 class="txt-color-blue login-header-big">Smart way to brand your product</h1>
						<div class="hero">

							<div class="pull-left login-desc-box-l">
								<h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of bookmyLED, to showcase your advertisement</h4>
								<div class="login-app-icons">
									
									<!-- <button type="button" id="mediaownerregistration" class="btn btn-labeled btn-success ">
									 <span class="btn-label">
									  <i class="fa fa-lg fa-desktop"></i>
									 </span>Media Owner Registration
									</button> -->
									
									<!--a href="javascript:void(0);" class="btn btn-warning btn-sm">Publish AD</a-->
								</div>
							</div>
							
							<!-- <img src="img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px"> -->

						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<h5 class="about-heading">Do you have Smart digital board?</h5>
								<p>
									Are you hosting digital screen? Then make you screen Smart and increase your revenue.
									<a href="#">Please contact us</a> to make your revenue increased.
								</p>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<h5 class="about-heading">Dont spend too much</h5>
								<p>
									Do you need to achieve best results of your Campaign and that too with limited budget then you are here at right place.
									<a href="#">Please contact us</a> and make your Campaign a success.
									
								</p>
							</div>
						</div>

					</div>
					
				
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
						<div class="well no-padding">
							<form id="changepassword-form" class="smart-form client-form">
								<header>
									Change Password
								</header>

								<fieldset>
									
									<section>
										<label class="label">Enter your email address</label>
										<label class="input"> <i class="icon-append fa fa-envelope"></i>
											<input type="email" name="email" id="email">
											<b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Please enter email address for password reset</b></label>
									<span id="emailChkMsg"  style="color:white"><label></label></span>
									</section>
									
									<section>
									<label class="label">Password</label> <label class="input">
										<i class="icon-append fa fa-lock"></i> <input type="password"
										name="password" id="password" value="test"> <b
										class="tooltip tooltip-top-right"><i
											class="fa fa-lock txt-color-teal"></i> Enter your new password</b>
									</label>
									<div>
									<label class="label"> <%=CommonUtils.getDataTransfer("loginError")%> </label> 
									</div>																	
								</section>

								</fieldset>
								<footer>
									<button type="submit" class="btn btn-primary" name="validateCheck" id="validateCheck">
										<i class="fa fa-refresh"></i> Change Password
									</button>
									<div id="changePassword"></div>									
								</footer>
							</form>

						</div>
						
						
						
					</div>
			</div>
		</div>

	</div>

	<!--================================================== -->


	<!--[if IE 8]>
			
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
			
		<![endif]-->

	<script type="text/javascript">
		//	runAllForms();

	$( document ).ready(function() {
			  // Handler for .ready() called.
	
		
		function chkform(){
			//console.log("in chkform");
			
			
			var validator = $( "#changepassword-form" ).validate({
				
				rules : {
					email : {
						required : true,
						minlength : 6,							
						email : true
					},
					password : {
						required : true,
						minlength : 3,
						maxlength : 20
					}
				},

				// Messages for form validation
				messages : {
					email : {
						minlength:'email must not be empty',
						required : 'Please enter your email address',
						email : 'Please enter a VALID email address'
					},
					password : {
						required : 'Please enter your password'
					}
				},
				
				submitHandler: function() {					
				    	$("#changePassword").click();
				    
				  },
				  invalidHandler: function() {
				    
				  }
				});
		}
		
		$('#validateCheck').click(function(e){
	      
	        chkform();
	    });

		});
		
				
	</script>

</div>
