<!-- MAIN PANEL -->
<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>SetUp</li>
				</ol>
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:-->

			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			<div id="content">
				
				<div class="animated fadeInRight">
				
					<!-- row -->
					<div class="row">
				
						<div class="col-sm-4">

							<div class="row">
								
								<div class="col-sm-12">
						
									<div class="well">
										
										<h3 class="semi-bold">PROFILE SETUP</h3>
										
										<ul>
										
										  <!-- <li class="semi-bold"><a href="#" id="companyProfileDetails"><h5>Business Details</h5></a></li> -->
										  <li class="semi-bold"><a href="#" id="editCompanyProfileDetails"><h5>Business Details</h5></a></li>
										<!--   <li class="semi-bold"><a href="#" id="ownerDetails"><h5>Owner Details</h5></a></li> -->
										  <li class="semi-bold"><a href="#" id="editOwnerDetails"><h5>Owner Details</h5></a></li>
										  <li class="semi-bold"><a href="#" id="companyLocations"><h5>Location</h5></a></li>
										  <li class="semi-bold"><a href="#" id="photos"><h5>Photos</h5></a></li>
										  
										</ul>  
									</div>
				
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">

							<div class="row">
								
								<div class="col-sm-12">
						
									<div class="well">
										
										<h3 class="semi-bold">SALE POINT</h3>
										
										<ul>
										  
										  <!-- 	<li class="semi-bold"><a href="#" id="discountTypes"><h5>Discount</h5></a></li>
										 	<li class="semi-bold"><a href="#" id="paymentTypes"><h5>Payments</h5></a></li> -->
										   	<li class="semi-bold"><a href="#" id="taxes"><h5>Tax</h5></a></li>
										  
										</ul>  
									
									</div>
				
								</div>
							
							</div>
						
						</div>
						<div class="col-sm-4">

							<div class="row">
								
								<div class="col-sm-12">
						
									<div class="well">
										
										<h3 class="semi-bold">CLIENT SETTING</h3>
										
										<ul>
										  	
										  	<li class="semi-bold"><a href="#" id="notification"><h5>Notification</h5></a></li>
										    <li class="semi-bold"><a href="#" id="referralSources"><h5>Referral Sources</h5></a></li>
										    <li class="semi-bold"><a href="#" id="cancellationReason"><h5>Cancellation Reason</h5></a></li>
										 
										</ul>  
										
									</div>
				
								</div>
							
							</div>
						
						</div>
					
					</div>
					<!-- end row -->						
				</div>				

			</div>
			<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->